# macOS
.DS_Store
**/.DS_Store

# Ignore les fichiers de configuration locaux de PyCharm
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/httpRequests/
.idea/shelf/
.idea/vcs.xml
.env
myvenv/
.kafka_data
.idea
models/
__pycache__/
.ipynb_checkpoints/
spark/checkpoints
mes_donnees_reddit.csv
airflow/logs/
airflow/dags/__pycache__/
